.results{
    display: flex;
    flex-direction: row;
    padding: 2rem;

}
.browse-results{
    justify-content: center;
    align-items: center;
}
th td{
    justify-content: left;
    align-items: center;
    padding: 0.25rem; 
}
thead {
    margin-bottom: 2rem;
}